.githubLink {
  font-size: 1.5rem;
  margin: 24px;
}
.starsContainer {
  display: flex;
  justify-content: space-between;
}
.contentCentered {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}